# Created by https://www.toptal.com/developers/gitignore/api/java,windows,eclipse,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,windows,eclipse,intellij

### Java ###
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### Eclipse ###
.settings/
.project
.classpath

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
target/

### STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
bin/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Maven Wrapper ###
.mvn/
!**/src/main/**/.mvn
!**/src/test/**/.mvn
mvnw
mvnw.cmd
# Python/Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Ignore virtual environments
env/
venv/
myenv/